.alles{
font-family: fantasy;
font-size: 20px;
color: white;
font-size: 25px;
margin: 2em;
}
.dag1, .dag2, .dag3, table{
background-color: lightblue;
margin: 2em;
}
body{
  background-image: url(NewYork.jpg);
  background-size: 1400px;
  background-repeat: repeat;
}
a, h1{
  color: white;
  background-color: lightblue;
}
