.alles{
font-family: fantasy;
font-size: 20px;
color: white;
font-size: 25px;
}
.dag1, .dag2, .dag3, table{
background-color: lightblue;
}
body{
  background-image: url(NewYork.jpg);
  background-size: 1400px;
  background-repeat: repeat;
}
.dag1 td{
  margin-right: 4em;

}
a{
  color: white;
}
