.menu-link {
  font-size: 60px;
  position: fixed;
  bottom: 200px;
  height: 100px;
}

.shoppen{
  height: 100px;
  padding: 5px;
  color: white;
  display: inline-block;
  background-color: lightblue;
  width: 2000px;
}
.gave_ervaringen{
  left: 240px;
  height: 100px;
  padding: 5px;
  color: white;
}
.rustig_dagje{
  left: 620px;
  width: 400px;
  padding: 5px;
  color: white;
}
.bezichtegingen{
  left: 950px;
  width: 400px;
  padding: 5px;
  color: white;
}
body{
background-image: url(NewYork.jpg);
background-size: cover;
background-repeat: no-repeat;
}
h2{
  color: white;
  background-color: lightblue;
}
h1{
  color: white;
  text-align: center;
}
