<style>
.shoppen{
  font-size: 58px;
  position: fixed;
  bottom: 200px;
  width: 230px;
  height: 100px;
  padding: 5px;
  color: orange;
  display: inline-flex;
  background-color: grey;
  width: 2000px;
}
.gave_ervaringen{
  font-size: 58px;
  position: fixed;
  bottom: 200px;
  left: 240px;
  width: 380px;
  height: 100px;
  padding: 5px;
  color: orange;
}
.rustig_dagje{
  font-size: 58px;
  position: fixed;
  bottom: 200px;
  left: 620px;
  width: 400px;
  height: 100px;
  padding: 5px;
  color: orange;
}
.bezichtegingen{
  font-size: 58px;
  position: fixed;
  bottom: 200px;
  left: 950px;
  width: 400px;
  height: 100px;
  padding: 5px;
  color: orange;
}
body{
background-image: url(NewYork.jpg);
background-size: cover;
background-repeat: no-repeat;
}
<style>
